In [1]:
# import basic libraries
import numpy as np
import pandas as pd

In [2]:
# Load the data
data=pd.read_csv("customers-100.csv")

In [3]:
pwd

'C:\\Users\\chand\\Downloads\\Machine learning Assosiate'

In [4]:
data

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

# Basic Checks

In [5]:
# Shape : It is used to find no of rows and no of columns in a data
data.shape

(100, 12)

In [6]:
# head - It is used toprint first 5 rows
data.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [7]:
# tail - It is used to print last 5 rows
data.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [8]:
# print all the columns
data.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [9]:
# to check datatype of each column
data.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [10]:
data.info

<bound method DataFrame.info of     Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]>

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [12]:
# Describe : It is used to do statistical analysis
data.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [13]:
# Statistical analysis for categorical data
data.describe(include="object")

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
count,100,100,100,100,100,100,100,100,100,100,100
unique,100,93,97,99,100,85,100,100,100,96,100
top,DD37Cf93aecA6Dc,Sheryl,Greer,Simon LLC,East Leonard,Solomon Islands,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2021-12-02,http://www.stephenson.com/
freq,1,2,2,2,1,4,1,1,1,2,1

In [14]:
# fetch numerical column
data.select_dtypes(include=["int64","float64"])

    Index
0       1
1       2
2       3
3       4
4       5
..    ...
95     96
96     97
97     98
98     99
99    100

[100 rows x 1 columns]

In [15]:
data.select_dtypes(include=["int64","float64"]).columns

Index(['Index'], dtype='object')

In [16]:
# fetch categorical columns
data.select_dtypes(include="object").columns

Index(['Customer Id', 'First Name', 'Last Name', 'Company', 'City', 'Country',
       'Phone 1', 'Phone 2', 'Email', 'Subscription Date', 'Website'],
      dtype='object')

In [17]:
# unique : it is used to find unique categories in a data
data.Company.unique()

array(['Rasmussen Group', 'Vega-Gentry', 'Murillo-Perry',
       'Dominguez, Mcmillan and Donovan', 'Martin, Lang and Andrade',
       'Steele Group', 'Lester, Woodard and Mitchell',
       'Sanford, Davenport and Giles', 'Browning-Simon', 'Beck-Hendrix',
       'Oconnell, Meza and Everett', 'Hoffman, Reed and Mcclain',
       'Graham-Francis', 'Carpenter-Cook', 'Carter-Hancock',
       'Singleton and Sons', 'Winters-Mendoza', 'Valentine LLC',
       'Simon LLC', 'Mays-Mccormick', 'Patterson Inc',
       'Manning, Hester and Arroyo', 'Greer and Sons', 'Watts-Donaldson',
       'Tucker LLC', 'Giles Ltd', 'Simmons Group',
       'Hinton, Chaney and Stokes', 'Santana-Duran', 'Sawyer PLC',
       'Acosta, Petersen and Morrow', 'Mcgee Group', 'Adkins-Salinas',
       'Herrera Group', 'Waters, Chase and Aguilar',
       'Palmer, Barnes and Houston', 'Jordan Ltd', 'Glover and Sons',
       'Huerta-Mclean', 'Anderson Ltd', 'Monroe PLC', 'Kaufman and Sons',
       'Perkins-Trevino', 'Cross PLC', 'Herrera, Shepherd and Underwood',
       'Price, Sexton and Mcdaniel', 'Short-Wiggins',
       'Brennan, Acosta and Ramos', 'Osborne-Erickson',
       'Hobbs, Garrett and Sanford', 'Phelps, Forbes and Koch',
       'May, Goodwin and Martin', 'Christian, Winters and Ellis',
       'Byrd Inc', 'Nixon, Blackwell and Sosa', 'Montes PLC', 'Costa PLC',
       'Novak LLC', 'Moore, Mccoy and Glass', 'Petty Ltd',
       'Brennan, Camacho and Tapia', 'Prince, Malone and Pugh',
       'Caldwell Group', 'Knight, Abbott and Hubbard', 'Church-Banks',
       'Henderson Inc', 'Donaldson-Dougherty', 'Warren Ltd', 'Wade PLC',
       'Keller-Coffey', 'Conway-Mcbride', 'Huynh and Sons', 'Parrish Ltd',
       'Guzman-Brown', 'Chang, Aguirre and Leblanc', 'Mason-Hester',
       'Mcguire, Huynh and Hopkins', 'Sanchez, Marsh and Hale',
       'Combs, Waller and Durham', 'Blankenship-Arias',
       'Coffey, Lamb and Johnson', 'Fitzpatrick-Lawrence',
       'Garcia-Jimenez', 'Mcdonald, Bird and Ramirez', 'Stephens Inc',
       'Montoya-Miller', 'Vaughn, Watts and Leach', 'Carter-Strickland',
       'Decker-Mcknight', 'Byrd-Campbell', 'Rocha-Hart', 'Lamb-Peterson',
       'Lee, Lucero and Johnson', 'Newton, Petersen and Mathis',
       'Carey LLC', 'Ware, Burns and Oneal', 'Schmitt-Jones',
       'Fitzgerald-Harrell', 'Le, Nash and Cross'], dtype=object)

In [18]:
# Value_count : It is used to find the count of unique categories.
data.Company.value_counts()

Company
Simon LLC                      2
Rasmussen Group                1
Knight, Abbott and Hubbard     1
Parrish Ltd                    1
Huynh and Sons                 1
                              ..
Mcgee Group                    1
Acosta, Petersen and Morrow    1
Sawyer PLC                     1
Santana-Duran                  1
Le, Nash and Cross             1
Name: count, Length: 99, dtype: int64

In [19]:
# How to check missing values
data.isnull()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
# How to check missing values
data.isnull().sum()

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [21]:
# How to create copy of data
data1=data.copy()

In [22]:
data1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [23]:
data.Country.unique()

array(['Chile', 'Djibouti', 'Antigua and Barbuda', 'Dominican Republic',
       'Slovakia (Slovak Republic)', 'Bosnia and Herzegovina',
       'Pitcairn Islands', 'Bulgaria', 'Cyprus', 'Timor-Leste',
       'Guernsey', 'Vietnam', 'Togo', 'Sri Lanka', 'Singapore', 'Oman',
       'Western Sahara', 'Mozambique',
       'South Georgia and the South Sandwich Islands', 'French Polynesia',
       'Malta', 'Netherlands', 'Paraguay',
       "Lao People's Democratic Republic", 'Albania', 'Panama', 'Belarus',
       'Switzerland', 'Saint Vincent and the Grenadines', 'Tanzania',
       'Zimbabwe', 'Denmark', 'Liechtenstein', 'United States of America',
       'Bahamas', 'Belize', 'Uruguay', 'Solomon Islands', 'Montenegro',
       'Poland', 'Burkina Faso', 'Bolivia', 'Monaco', 'Palau',
       'Uzbekistan', 'Ghana', 'United Arab Emirates', 'Canada', 'Algeria',
       'Swaziland', 'Madagascar', 'Ecuador', 'Palestinian Territory',
       'Saint Barthelemy', 'Sao Tome and Principe', 'Portugal',
       'Ethiopia', 'Liberia', 'Lithuania', 'New Caledonia', 'Kiribati',
       'French Southern Territories', 'Iran', 'Morocco',
       'Russian Federation', 'United States Virgin Islands',
       'Kyrgyz Republic', 'Myanmar', 'Dominica', 'Iceland', 'Micronesia',
       'Isle of Man', 'Fiji', 'New Zealand', 'Maldives', 'Benin', 'Yemen',
       'Namibia', 'Bhutan', 'Hungary', 'Anguilla', 'Mali', 'Guyana',
       'Aruba', 'Honduras'], dtype=object)

In [24]:
data.City.unique()

array(['East Leonard', 'East Jimmychester', 'Isabelborough', 'Bensonview',
       'West Priscilla', 'Chavezborough', 'Lake Ana', 'Kimport',
       'Robersonstad', 'Elaineberg', 'Shannonville', 'East Andrea',
       'South Joannamouth', 'Jodyberg', 'Burchbury', 'Desireeshire',
       'West Adriennestad', 'Lake Leslie', 'Harmonview', 'Jamesshire',
       'East Carly', 'South Alvin', 'Brittanyview', 'Veronicamouth',
       'Bryanville', 'Kaitlyntown', 'Michealshire', 'South Marissatown',
       'Acevedoville', 'North Harold', 'West Samuel', 'Cunninghamborough',
       'Port Annatown', 'New Kaitlyn', 'West Marthaburgh', 'East Teresa',
       'South Hunter', 'South Walter', 'Poolefurt', 'West John',
       'West Darius', 'North Jimstad', 'East Rebekahborough',
       'North Drew', 'Lake Lindaburgh', 'Gwendolynview', 'Zimmermanland',
       'North Kerriton', 'North Eileenville', 'Port Sergiofort',
       'New Alberttown', 'South Jasmine', 'Cowanfort', 'New Deborah',
       'Wallstown', 'Lake Ellenchester', 'Lake Whitney', 'East Jaredbury',
       'Selenabury', 'Huangfort', 'East Pennyshire', 'Port Jasminborough',
       'West Kristine', 'South Julia', 'Helenborough', 'Lake Nancy',
       'Georgeport', 'South Sophiaberg', 'Hartbury', 'Erikaville',
       'Nicolasfort', 'New Jasmineshire', 'East Summerstad',
       'Skinnerport', 'Raystad', 'Colinhaven', 'West Reginald',
       'Lake Sherryborough', 'Port Katherineville', 'Thomasland',
       'Coreybury', 'Lake Janiceton', 'East Clinton', 'South Joshuashire',
       'New Glenda', 'North Jillianview', 'Lyonsberg',
       'East Cristinabury', 'Thomasfurt', 'North Joeburgh',
       'Cassidychester', 'South Dannymouth', 'South Lonnie',
       'Frankchester', 'Daisyborough', 'East Richard', 'New Bradview',
       'Ortegaland', 'Lake Elijahview', 'Judymouth'], dtype=object)

In [25]:
data.City.value_counts()

City
East Leonard         1
South Julia          1
Skinnerport          1
East Summerstad      1
New Jasmineshire     1
                    ..
West Samuel          1
North Harold         1
Acevedoville         1
South Marissatown    1
Judymouth            1
Name: count, Length: 100, dtype: int64

# Create New Column

In [26]:
data1['Customerid']=data1["City"]+data1["Country"]

In [27]:
data1.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website', 'Customerid'],
      dtype='object')

In [28]:
data1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Customerid
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East LeonardChile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East JimmychesterDjibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,IsabelboroughAntigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,BensonviewDominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West PriscillaSlovakia (Slovak Republic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,East RichardGuyana
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,New BradviewSri Lanka
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,OrtegalandSolomon Islands
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,Lake ElijahviewAruba
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,JudymouthHonduras

In [29]:
data1["Company"]="Chile"

In [30]:
data1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Customerid
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Chile,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East LeonardChile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Chile,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East JimmychesterDjibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Chile,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,IsabelboroughAntigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,Chile,Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,BensonviewDominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,Chile,West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West PriscillaSlovakia (Slovak Republic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Chile,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,East RichardGuyana
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,Chile,New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,New BradviewSri Lanka
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Chile,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,OrtegalandSolomon Islands
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Chile,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,Lake ElijahviewAruba
99,100,2354a0E336A91A1,Clarence,Haynes,Chile,Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,JudymouthHonduras

In [31]:
data1.head(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Customerid
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Chile,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East LeonardChile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Chile,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East JimmychesterDjibouti

# Remove column

In [32]:
# Axis 1 is used when we do any column manipulation
data1.drop("City",axis=1)

,Index,Customer Id,First Name,Last Name,Company,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Customerid
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Chile,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East LeonardChile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Chile,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East JimmychesterDjibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Chile,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,IsabelboroughAntigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,Chile,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,BensonviewDominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,Chile,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West PriscillaSlovakia (Slovak Republic)
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Chile,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,East RichardGuyana
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,Chile,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,New BradviewSri Lanka
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Chile,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,OrtegalandSolomon Islands
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Chile,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,Lake ElijahviewAruba
99,100,2354a0E336A91A1,Clarence,Haynes,Chile,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,JudymouthHonduras

In [33]:
data1.drop("City",axis=1,inplace=True)

In [34]:
data1.head()

,Index,Customer Id,First Name,Last Name,Company,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Customerid
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Chile,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East LeonardChile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Chile,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East JimmychesterDjibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Chile,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,IsabelboroughAntigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,Chile,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,BensonviewDominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,Chile,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West PriscillaSlovakia (Slovak Republic)

In [35]:
# drop Company and Country Columns
data1.drop(["Company","Country"],axis=1,inplace=True)

In [36]:
data1.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Phone 1', 'Phone 2',
       'Email', 'Subscription Date', 'Website', 'Customerid'],
      dtype='object')

# Type Casting

In [37]:
# Type casting is used to convert one data type into other
data1.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
Customerid           object
dtype: object

In [38]:
# Tyepe casting will not work when there are missing values